<h1>Users</h1>
<table>
	<tr class="toprow">
		<td class="email">
			Email
		</td>
		<td class="confirmed">
			Confirmed?
		</td>
		<td class="admin">
			Admin?
		</td>
		<td class="options">
			Options
		</td>
	</tr>
	<%= render @users %>
</table>