<h1>FAQ</h1>
<p class="question">
	Where is the band room?
</p>
<p class="answer">
	<div class="map">
		<%= render 'map' %>
	</div>
</p>
<p class="question">
	Where do I get the key?
</p>
<p class="answer">
	From the cabinet opposite the security desk in the library reception.
</p>
<p class="question">
	How do I access the cabinet?
</p>
<p class="answer">
	First, email your library card number (not your student number), full name 
	and username to musicsoc.bandroom at gmail.com.
</p>
<p class="answer">
	Then you can use your library card to access the cabinet and withdraw the key.
</p>