<h1>FAQ</h1>
<p class="question">
	Where is the band room?
</p>
<p class="answer">
	<div class="map">
		<%= render 'map' %>
	</div>
</p>
<p class="question">
	Where do I get the key?
</p>
<p class="answer">
	From the cabinet opposite the security desk in the library reception.
</p>
<p class="question">
	How do I access the cabinet?
</p>
<p class="answer">
	First, email your library card number (not your student number), full name 
	and username to musicsoc.bandroom at gmail.com.
</p>
<p class="answer">
	Then you can use your library card to access the cabinet and withdraw the key.
</p>
<p class="question">
	What's MusicSoc?
</p>
<p class="answer">
	MusicSoc is the music society at the University of Bath. Unfortunately you can only
	join if you're a student at the university, but most of our socials are open for
	anyone to attend. If you want to keep up to date, please join our
	<%= link_to "Facebook group", "http://www.facebook.com/groups/130934812093/" %>.
</p>
<p class="answer">
	However, you are unable to use our band practice room. We recommend
	<%= link_to "Stage 2 Studios", "http://www.stage2studios.co.uk/" %>
	as an alternative.
</p>
<p class="answer">
	If you are a student at the University of Bath, head on over to our page on
	<%= link_to "BathStudent", "http://www.bathstudent.com/socs/societies/musicsoc/" %>
	and join up today for the bargain price of £3!
</p>