<h1>Welcome!</h1>
<p>
	Please log in if you already have a membership, if not then:
</p>
<ul>
	<li>
		<%= link_to "Join MusicSoc", 
			"http://www.bathstudent.com/socs/societies/musicsoc/" %>
		on BathStudent if you haven't already
	</li>
	<li>
		<%= link_to "Sign up", new_user_registration_path %> here using your BUCS email
	</li>
	<li>
		Email the MusicSoc committee to get your account validated (see the 
		"Join MusicSoc" link if you don't have the address)
	</li>
</ul>